@tailwind base;

.directory-divide-y > li:not(:last-child):after {
  content: '';
  display: block;
  width: calc(100% - 24px);
  transform: translateX(24px);
  height: 1px;
  background: #333333;
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  .overflow-hidden {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
}

* {
  --mvx-color: #23f7dd;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 0px !important;
}
/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #23f7dd;
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #23f7dd;
}